# SPDX-License-Identifier: MIT
# Part of PyBLE (https://pyble.dev) — see /LICENSE.

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
# CONFIG_XTAL_FREQ_AUTO is not set
CONFIG_XTAL_FREQ_40=y
CONFIG_APP_REPRODUCIBLE_BUILD=y
CONFIG_BT_CTRL_CE_LENGTH_TYPE_SD=y
CONFIG_BT_CTRL_BLE_STATIC_ACL_TX_BUF_NB=12
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=20
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
